<% layout("/boilerplate/index") %>
<body>
    <div style="margin: 0 50px;">
    <form action="/product/<%= product._id %>?_method=PUT" method="post">
        <label for="name" class="form-lable">Product Name</label>
        <input type="text" name="product[name]" class="form-control" value="<%= product.name %>" id="name" placeholder="Product Name" required>
        <label for="quantity" class="form-lable">Quantity</label>
        <input type="number" name="product[quantity]" class="form-control" value="<%= product.quantity %>" id="quantity" placeholder="Quantity" required>
        <label for="price" class="form-lable">Price</label>
        <input type="number" name="product[price]" class="form-control"  value="<%= product.price %>" id="price" placeholder="Price" required>
        <label for="description" class="form-lable">Description</label>
        <input type="text" name="product[description]" class="form-control"  value="<%= product.description%>" id="description" placeholder="Description" required>
        <label for="category" class="form-lable">Category</label>
        <select name="product[category]" id="category" class="form-control" required>
            <option value="<%= product.category %>"><%= product.category %></option>
            <% for(category of categories){ %>
                <% if(category!= product.category) {%>
                    <option value="<%= category.name %>"><%= category.name %></option>
                <% } %>
            <% } %>
        </select>
        <br>
        <button type="submit" class="btn btn-primary">Update Products</button>
    </form>
</div>
</body>