<% layout("/boilerplate/index") %>
<body>
    <a href="/customer" class="btn"><i class="fa-solid fa-arrow-left"></i></a>
    <center>
    <h2><%= customer.name %></h2>
    <table class="table table-bordered table-striped" style="width: 50%;">
        <tr>
            <td><%= customer.contact %></td>
            <td><%= customer.address %></td>
        </tr>
    </table>
    <br><br>
    <div class="row" style="width: 80%;">
        <div class="col">
            <a href="/customer/<%= customer._id %>/update" class="btn btn-success">Update</a>
        </div>
        <div class="col">
            <form action="/customer/<%= customer._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    </center>
</body>
